<!doctype html>

{% load static %}
{% block css %}
{% endblock %}

<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>App Stock </title>

  <!---------- Bootstrap core CSS --------------->
  <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

  <!---------- Custom styles for this template ----------->
  <link href="{% static 'core/css/cover.css' %}" rel="stylesheet">

</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header>
      <div class="inner">


        <!------------Barra de Navegacion-------------->
        
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
          <div class="container">

            <a class="navbar-brand text-white"> App Stock</a>

            <button class="navbar-toggler" data-target="#menu" type="button" data-toggle="collapse">
              <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="menu">
              <ul class="navbar-nav ml-auto">

                <li class="navbar-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>

                <li class="navbar-item">
                  <a class="nav-link" href="{% url 'nuevo_producto' %}">Nuevo Producto</a>
                </li>

                <li class="navbar-item">
                  <a class="nav-link" href="{% url 'listado_producto' %}">Listado de productos</a>

                </li>

                {% if user.is_authenticated %}

                <li class="navbar-item">
                  <a class="nav-link" style="color: rgb(43, 226, 186);"> Bienvenid@:</li>{{ user.username }}</a>


                <li class="navbar-item">
                  <a class="nav-link" href="{% url 'logout' %}">Salir</a>
                </li>

                {% else %}

                <li class="navbar-item">
                  <a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a>
                </li>

                {% endif %}

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <br><br><br>
 

    <!-------------- main-------------->

    <main role="main" class="inner cover" id="al">
      <div class="container">

        {% block content %}

        {% endblock %}
      </div>
    </main>


    <!------------ Pié de página ------------>


    <footer>
      {% block footer %}

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://api.whatsapp.com/send?phone=541163660588" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/diegobenitez89" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://linkedin.com/in/diego-benitez-247a9b124" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p>Copyright &copy; 2020 - Diego Benitez</p>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}

    {% block javascript %}
    {% endblock %}

    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="js/basico.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>