{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="principal">
    <h1 class="cover-heading">App de Control de stock </h1>
    <p class="lead">Esta app te permite crear un nuevo producto, con los campos Nombre,Precio,Stock y Seccion.</p>

    <p class="lead">Con la posibilidad de administrar tu negocio modificando los productos agregados y eliminandolos.</p>
     
    <!--<a href="#" class="btn btn-lg btn-secondary">Learn more</a>-->



</div>

<!--------------agregar el contenido que quiero ver en base------------->

{% endblock %}
