{% extends 'core/base.html' %}

{% block content %}

<h2>Listado de Productos</h2>
<table>
    <tr>

        <th>Nombre</th>
        <th>Precio</th> 
        <th>Stock</th>  
        <th>Seccion</th>  
        <th>Opciones</th> 
        
    </tr>

    {% for p in productos %}

    <tr>
        <td>{{ p.nombre }}</td>
        <td>{{ p.precio }}</td>
        <td>{{ p.stock }}</td>
        <td>{{ p.seccion }}</td>
        <td>
        <a class="btn btn-primary btn-xs" href="{% url 'modificar_producto' p.id %}">Modificar</a>
        <a class="btn btn-primary btn-xs" href="{% url 'eliminar_producto' p.id %}">Eliminar</a>


        </td>
    </tr>


    {% endfor %}

</table>
{% endblock %}